<img src="./assets/imageAccueil.png" id="imageAccueil">
<button class="btn btn-primary" id="bouton-image-accueil">Je découvre !</button>

<div class="container row flex-nowrap justify-content-around">
    <div class="card">
        <img src="./assets/nutrition.png" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">Nutrition</h5>
            <p class="card-text">Un programme réalisé par une ditéticienne diplomé d'état</p>
            <a routerLink="" class="btn btn-primary">Je veux ça !</a>
        </div>
    </div>

    <div class="card">
        <img src="./assets/programme.png" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">Programme</h5>
            <p class="card-text">Un programme réalisé par une ditéticienne diplomé d'état</p>
            <a routerLink="" class="btn btn-primary">Je veux ça !</a>
        </div>
    </div>

    <div class="card">
        <img src="./assets/competition.png" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">Compétition</h5>
            <p class="card-text">Un programme réalisé par une ditéticienne diplomé d'état</p>
            <a routerLink="" class="btn btn-primary">Je veux ça !</a>
        </div>
    </div>
</div> 


<!-- <div class="container d-flex">
    <div class="bloc">

    <div class="gumroad-product-embed"><a href="https://gumroad.com/l/EjDUt">Chargement...</a></div>

    </div>
    <div class="bloc">

    <div class="gumroad-product-embed"><a href="https://gumroad.com/l/FaKgr">Chargement...</a></div>

    </div>
</div> -->
