<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
	</head>
	<body>
		<h1>Bienvenue sur la page liste des utilisateurs</h1>
		<ul>
			{% for item in users %}
				<a href="{{ path('user-detail', {name: item.name }) }}">
					<li>{{ item.name }}</li>
				</a>
			{% endfor %}
		</ul>
	</body>
</html>
