<li [ngClass]="{'list-group-item' : true, 
                'list-group-item-success' : appareilStatus === 'Allumé',
                'list-group-item-danger' : appareilStatus === 'Eteint'}">
    <div style="width: 20px;height: 20px; background-color: red;"
    *ngIf="appareilStatus === 'Eteint'"></div>
    <div style="width: 20px;height: 20px; background-color:green;"
    *ngIf="appareilStatus === 'Allumé'"></div>
    <h4 [ngStyle]="{color: getColor()}">Appareil : {{ appareilName }} -- Statut : {{ getStatus() }}</h4>
    <button class="btn-success" (click)="onAllumerOne()" *ngIf="appareilStatus === 'Eteint'">Allumer</button>
    <button class="btn-danger" (click)="onEteindreOne()" *ngIf="appareilStatus === 'Allumé'">Eteindre</button>
    <a [routerLink]="[id]">Détails</a>
</li>
